<div class="container">
    <div class="alert-danger" style="word-break: break-all">{{errorMsg}}</div>
    <div style="margin-bottom: 30px">
        <span class="h3">Todos</span>
        <button class="btn btn-default pull-right" (click)="getAllTodos()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
    </div>
    <div *ngFor="let todo of todos">
        <button class="btn btn-default" (click)="toggleTodo(todo)" >
            <span *ngIf="!todo.done" class="glyphicon glyphicon-ok" aria-hidden="true" style="color: transparent"></span>
            <span *ngIf="todo.done" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
        <span class="h3">{{todo.content}}</span>
        <button type="button" class="btn btn-default pull-right" (click)="deleteTodo(todo)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>

    <input class="form-control" [(ngModel)]="newTodo" placeholder="Enter todo" (keyup.enter)="createTodo()" />
</div>